#dropZone_cluster, #dropZone_cure, #dropZone_classification, #dropZone_neuron{
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 100%;
    padding: 50px 0;

    background: #eee;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#margin_toright{

    margin-left: 700px;
}

#dropZone_cluster.hover, #dropZone_cure.hover, #dropZone_classification.hover, #dropZone_neuron.hover{
    background: #ddd;
    border-color: #aaa;
}

#dropZone_cluster.error, #dropZone_cure.error, #dropZone_classification.error, #dropZone_neuron.error {
    background: #faa;
    border-color: #f00;
}

#dropZone_cluster.drop, #dropZone_cure.drop, #dropZone_classification.drop, #dropZone_neuron.drop {
    background: #afa;
    border-color: #0f0;
}